{{right_sidebar_enabled=True}}
{{extend 'layout.html'}}

{{#http://ompldr.org/vYWJhOA/identica16x16.png}}
<script type="text/javascript">
function actualiza_bloque() {
web2py_component('{{=URL(c='widget',f='microblog.load', args='amigostl')}}','amigostl');
setTimeout(actualiza_bloque,60000);
}
jQuery(document).ready(actualiza_bloque);
</script>

{{block left_sidebar}}
{{=LOAD(c='widget',f='postlist.load',args=request.args,target='post_list',_class='ui-widget-content ui-corner-all')}}
{{end}}


{{block right_sidebar}}
{{include 'sidebar.html'}}
{{end #right_sidebar}}

{{if auth.is_logged_in():}}
{{=A('Postear',_href=URL(c='content',f='post'),_class='button primary pill')}}
{{=A('Admin',_href=URL(c='gestor'),_class='negative button pill')}}
{{pass}}

{{=LOAD(c='widget',f='postlist.load',args=request.args,target='post_list',_class='ui-widget-content ui-corner-all')}}

<div id="post" class='ui-widget ui-corner-all'>


{{
try:
frontpage = db((db.block.place == db.place.id) &
            (db.block.post == db.post.id) &
            (db.post.is_active == True) &
            (db.block.position == 0) &
            (db.place.name == 'blog') 
            ).select(
            db.post.body,
            db.post.markup,
            orderby =~ db.post.modified_on
            ).first()
}}

{{if frontpage['markup'].name == 'html':}}
{{=XML(frontpage['body'])}}
{{else:}}
{{=MARKMIN(frontpage['body'])}}
{{pass}}

{{except:pass}}

</div>
