<script type="text/javascript">
function actualiza_bloque() {
web2py_component('{{=URL(c='widget',f='identica.load')}}','widget_identica');
setTimeout(actualiza_bloque,60000);
}
jQuery(document).ready(actualiza_bloque);
</script>

{{
    data = db(
            (db.context.place == db.place.id) &
            (db.context.post == db.post.id) &
            (db.place.name == 'sidebar')
            ).select(
            db.post.title,
            db.post.body,
            db.post.slug,
            db.post.id,
            db.post.markup,
            db.post.created_on,
            orderby = db.context.priority
            )
}}


{{=LOAD(c='widget',f='identica.load', ajax=True, content=A('Cargando identi.ca...',_href='http://identi.ca/'),_class='block identica',target='widget_identica')}}


{{for d in data:}}

    {{if d.markup.name == 'html':}}
        {{=DIV(DIV(XML(d.title),_class='title'),DIV(XML(d.body),_class='body'),_class='block')}}

    {{elif d.markup.name == 'template':}}
        {{import gluon.template}}
        {{=DIV(DIV(XML(d.title),_class='title'),DIV(XML(gluon.template.render(d.body,context=globals())),_class='body'),_class='block')}}

    {{else:}}
        {{=DIV(DIV(MARKMIN(d.title),_class='title'),DIV(MARKMIN(d.body),_class='body'),_class='block')}}

    {{pass}}
{{pass}}
{{pass}}
