@charset "UTF-8";
/*
a,a:visited,a:link {color:#3465a4;} 
a:hover {color:#204a87;}

#paginar, #paginar a {
    text-decoration:none;
    text-align:center;
}

#statusbar {
    background:#fff !important;
}


.sf-menu li {
    background:#eeeeec !important;
}
*/
#post_list {
    /*margin:.5em auto;*/
    padding:1em;
}

#post_list li span {
    font-weight:bold;
}
/*
pre {
    background:#fea;
    border:1px solid #d3d7cf
    padding:1em;
    border-radius:.6em;
}
*/

.post_body {
    overflow:hidden;
    clear:both;
    padding:1em;
}

.post_meta {
    text-align:right;
    margin:.5em;
    font-size:.9em;
    clear:both;
}

.post_meta li {
    display:inline;
}

.meta_link {
    background:#eeeeec;
}
/*
ul li {
    list-style:none;
}
#post h1.title, #post h1.title  a{
    text-decoration:none;  
    color:#3465a4;
    
}

*/

.identica  .dents {
    font:.9em sans-serif;
    overflow:hidden;
}

.microblog{
    margin-bottom:1em;
}

.identica .title {
    background:#a40000 url('http://ompldr.org/vYWI2OQ/identica.png') left no-repeat;
    text-indent:26px;
    line-height:24px;
    height:24px;
    display:block;
    border-radius:.6em;
    color:#fff;
    text-decoration:none;
    border:1px solid #c00;
}
/*
#footer, #footer a, #footer img {
    font-size:x-small;
    vertical-align:middle;
    text-decoration:none;
}

.post_body img {
    max-width:100%;
}

#right_sidebar .block div.title{
    font-weight:bold;
    background:#3465a4; 
    color:#fff;
    border-radius:.6em;
}


.title {text-align:center;}

.body{

}

.title a {color:#fff;}
*/
.updated {
     font:.6em sans-serif;
     text-transform:uppercase;
     
}

.green_light_bg{
    background:#8ae234;    
}

.yellow_light_bg{
    background:#fce94f;
}

.izq {float:left !important;}
.der {float:right !important;}
